* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #FEF0E7;
}

.filterButton {
  height: 2rem;
  width: 2rem;
  margin-top: 1rem;
  margin-left: 1rem;
  border: none;
  background-color: #F26419;
  border-radius: 10px;
}

.filterButton img {
  height: 1rem;
  filter: contrast(0%) brightness(200%);
}

.filterButton:hover {
  background-color: #FFB68D;
  border: 2px solid white;
}

.filters {
  width: 12rem;
  height: calc(100vh - 11rem);
  position: fixed;
  background-color: #F98B41;
  top: 8rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  transition: width 200ms ease;
  z-index: 1;
}

.form {
  padding: 0;
  margin: 0;
  height: 100%;
  weight: 100%;
  border-bottom-right-radius: 10px;
}

.filterContainer {
  list-style: none;
  padding-left: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  height: calc(100vh - 12rem);
  padding-bottom: 0px;
}

.filterHeader {
  height: 3rem;
  width: 100%;
  display: flex;
  background-color: #F26419;
  align-items: center;
  text-decoration: none;
  transition: width 600ms;
  padding: 0px;
  box-sizing: border-box;
  margin: 0px;
  position: relative;
  font-family: "Open sans";
  font-weight: 800;
  font-size: 16px;
  border-top-right-radius: 10px;
}

.filterTitle {
  padding: 10px 0px;
  padding-left: 20px;
  height: 16px;
  display: flex;
  align-items: center;
  color: white;
}

.filterItem {
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: width 600ms;
  padding: 10px 5px;
  box-sizing: border-box;
  margin: 0.25rem 0rem;
  position: relative;
}

.button {
  padding: 10px;
  width: 100%;
  height: 2rem;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #F76E11;
  margin: center;
  font-family: "Open sans";
  font-weight: 800;
  font-size: 12px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 10px
}

.button:first-of-type{
  margin-left: 0px;
}

.button:hover {
  background-color: #FFB68D;
  border: 2px solid white;
}

.buttonText {
  height: 14px;
  display: flex;
  align-items: center;
  color: white;
}

.buttonIcon {
  margin-left: auto;
}

.buttonIcon img {
  height: 12px;
  transform: scale(1.5);
}

.filterScroll {
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.filterScroll::-webkit-scrollbar {
  width: 0.5em;
  height: .5em;
  background-color: #F98B41;
}

.filterScroll::-webkit-scrollbar-track {
  background-color: #FFB68D;
  border-radius: 100vw;
  margin-block: .5em;
}

.filterScroll::-webkit-scrollbar-thumb {
  background: #F76E11;
  border: 2px solid #FFB68D;
  border-radius: 100vw;
}

.filterScroll::-webkit-scrollbar-thumb:hover {
  background: #F98B41;
}

.input {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border-radius: 10px;
  border: 1px solid #FEF0E7;
  background-color: #F98B41;
  color: white;
  caret-color: white;
  margin: center;
  font-family: "Open sans";
  font-weight: 500;
  font-size: 14px;
  position: relative;
}

.placeHolder {
  position: absolute;
  top: 50%;
  left: 10px;
  padding: 0px 5px;
  color: #FEF0E7;
  transition: 0.3s;
  pointer-events: none;
  transform: translateY(-50%);
  background-color: #F98B41;
  font-family: "Open sans";
  font-weight: 300;
  font-size: 12px;
  font-style: italic;
}

.input:hover {
  border: 2px solid white;
}

.input:focus + .placeHolder {
  top: 25%;
  transform: translateY(-100%);
  font-family: "Open sans";
  font-weight: 800;
  font-size: 12px;
  font-style: normal;
}

.input:-webkit-autofill, .input:-webkit-autofill:hover,
.input:-webkit-autofill:focus, .input:-webkit-autofill:active {
  background-color: #F98B41 !important;
  color: white !important;
  border: 1px solid #FEF0E7 !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: .5em;
  background-color: white
}

::-webkit-scrollbar-track {
  background-color:#FEF0E7;
  border-radius: 100vw;
  margin-block: .5em;
}

::-webkit-scrollbar-thumb {
  background: #F76E11;
  border: 2px solid #FEF0E7;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #F98B41;
}

.tableBody {
  margin: 1rem;
  margin-left: 14rem;
  margin-right: 6rem;
  height: calc(100vh - 11rem);
  transition: width 200ms ease;
  overflow-y: auto;
  overflow-x: auto;
  border-radius: 10px;
}

.tableBody thead {
  position: sticky;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 2;
  background-color: #F98B41;
}

.tableBody thead th:first-child {
  border-top-left-radius: 10px;
}

.tableBody thead th:last-child {
  border-top-right-radius: 10px;
}

.tableBody tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.tableBody tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

table {
  width: 100%;
  height: calc(100vh - 10rem);
}

thead {
  width: 100%;
  height: 100%;
  padding: 10px 0px;
}

th {
  background-color: #F98B41;
  min-height: 3rem;
  vertical-align: middle;
  text-align: center;
}

tbody {
  display: table-row-group;
  max-height: calc(100vh - 18rem);
}

td {
  background-color: white;
  padding: 0;
  height: 4rem;
  vertical-align: middle;
  text-align: center;
}

.iconArrow {
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  border: 1.4px solid #F76E11;
  border-radius: 50%;
  text-align: center;
  font-size: 1rem;
  margin-left: .5rem;
}

.iconArrow img{
  height: 1.3rem;
  border-radius: 50%;
}
