* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: white;
}

.filterButton {
  height: 2rem;
  width: 2rem;
  margin-top: 1rem;
  margin-left: 1rem;
  border: none;
  background-color: #F76E11;
  border-radius: 10px;
}

.filterButton img {
  height: 1rem;
  filter: contrast(0%) brightness(200%);
}

.filterButton:hover {
  background-color: #FFB68D;
  border: 2px solid white;
}

.filters {
  width: 12rem;
  height: calc(100vh - 11rem - 4rem);
  position: fixed;
  background-color: #F98B41;
  top: 8rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  transition: width 200ms ease;
  z-index: 1;
}

.form {
  padding: 0;
  margin: 0;
  height: 100%;
  weight: 100%;
  border-bottom-right-radius: 10px;
  display: inline-flex;
  padding-bottom: 10px;
}

.filterContainer, .filterContainer2 {
  list-style: none;
  padding-left: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  height: calc(100vh - 12rem - 4rem);
  display: inline-flex;
}

.filterContainer2 {
  padding-top: 5px;
  height: 6rem;
  display: inline-flex;
  border-top: 1px solid #FEF0E7;
}

.filterContainer2 .filterItem:first-child {
  margin-bottom: -5px;
}

.filterHeader {
  height: 2rem;
  width: 100%;
  display: flex;
  background-color: #F76E11;
  align-items: center;
  text-decoration: none;
  transition: width 600ms;
  padding: 0px;
  box-sizing: border-box;
  margin: 0px;
  position: relative;
  font-family: "Open sans";
  font-weight: 800;
  font-size: 16px;
  border-top-right-radius: 10px;
}

.filterTitle {
  padding: 10px 0px;
  padding-left: 20px;
  height: 16px;
  display: flex;
  align-items: center;
  color: white;
}

.filterItem, .filterItemLast {
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: width 600ms;
  padding: 10px 5px;
  box-sizing: border-box;
  margin: 0.25rem 0rem;
  position: relative;
}

.filterItemLast {
  margin-bottom: 10px;
}

.button {
  padding: 10px;
  width: 100%;
  height: 2rem;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #F76E11;
  margin: center;
  font-family: "Open sans";
  font-weight: 800;
  font-size: 12px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 10px
}

.button:first-of-type{
  margin-left: 0px;
}

.button:hover {
  background-color: #FFB68D;
  border: 2px solid white;
}

.buttonText {
  height: 14px;
  display: flex;
  align-items: center;
  color: white;
}

.buttonIcon {
  margin-left: auto;
}

.buttonIcon img {
  height: 12px;
  transform: scale(1.5);
  filter: contrast(0%) brightness(200%);
}

.filterScroll {
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.filterScroll::-webkit-scrollbar {
  width: 0.5em;
  height: .5em;
  background-color: #F98B41;
}

.filterScroll::-webkit-scrollbar-track {
  background-color: #FFB68D;
  border-radius: 100vw;
  margin-block: .5em;
}

.filterScroll::-webkit-scrollbar-thumb {
  background: #F76E11;
  border: 2px solid #FFB68D;
  border-radius: 100vw;
}

.filterScroll::-webkit-scrollbar-thumb:hover {
  background: #F98B41;
}

.input {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border-radius: 10px;
  border: 1px solid #FEF0E7;
  background-color: #F98B41;
  color: white;
  caret-color: white;
  margin: center;
  font-family: "Open sans";
  font-weight: 500;
  font-size: 14px;
  position: relative;
}

.placeHolder {
  position: absolute;
  top: 50%;
  left: 10px;
  padding: 0px 5px;
  color: #FEF0E7;
  transition: 0.3s;
  pointer-events: none;
  transform: translateY(-50%);
  background-color: #F98B41;
  font-family: "Open sans";
  font-weight: 300;
  font-size: 12px;
  font-style: italic;
}

.input:hover {
  border: 2px solid white;
}

.input:focus + .placeHolder {
  top: 25%;
  transform: translateY(-100%);
  font-family: "Open sans";
  font-weight: 800;
  font-size: 12px;
  font-style: normal;
}

.input:-webkit-autofill, .input:-webkit-autofill:hover,
.input:-webkit-autofill:focus, .input:-webkit-autofill:active {
  background-color: #F98B41 !important;
  color: white !important;
  border: 1px solid #FEF0E7 !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: .5em;
  background-color: white
}

::-webkit-scrollbar-track {
  background-color:#FEF0E7;
  border-radius: 100vw;
  margin-block: .5em;
}

::-webkit-scrollbar-thumb {
  background: #F76E11;
  border: 2px solid #FEF0E7;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #F98B41;
}

.tableBody {
  margin-top: -2rem;
  margin-bottom: 1rem;
  margin-left: 14rem;
  margin-right: 6rem;
  height: calc(100vh - 8rem - 2rem);
  transition: width 200ms ease;
  overflow-y: auto;
  overflow-x: auto;
  border-radius: 10px;
  border: 2px solid #FEF0E7;
  background-color: #FEF0E7;
  display: flex;
  flex-direction: column;
}

.tableBody thead {
  position: sticky;
  height: 2rem;
  width: 100%;
  top: 0;
  z-index: 2;
}

.tableBody thead th:first-child {
  border-top-left-radius: 10px;
}

.tableBody thead th:last-child {
  border-top-right-radius: 10px;
}

.tableBody tbody tr:last-child td{
  border-bottom: none;
}

.tableBody tbody tr td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.tableBody tbody tr td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.tableBody::-webkit-scrollbar {
  width: .5em;
  height: .5em;
  background-color: #FEF0E7;
  border-radius: 100%;
}

.tableBody::-webkit-scrollbar-track {
  background-color: #FEF0E7;
  border-radius: 100vw;
  margin-block: .5em;
}

.tableBody::-webkit-scrollbar-thumb {
  background: #F76E11;
  border: 2px solid  #FEF0E7;
  border-radius: 100vw;
}

.tableBody::-webkit-scrollbar-thumb:hover {
  background: #F98B41;
}

table {
  width: 100%;
  height: 100%;
  height: calc(100vh - 10rem);
  background-color: #FEF0E7;
  border-collapse: collapse;
  flex: 1;
  table-layout: auto;
  overflow-x: auto;
}

thead {
  width: 100%;
  height: 2rem;
  padding: 10px 0px;
  background-color: #FEF0E7;
  flex: 0 0 auto;
}

th {
  min-width: 120px;
  background-color: #F76E11;
  height: 2rem;
  vertical-align: middle;
  text-align: center;
  padding: 0px 10px;
  color: white;
  line-height: 2rem;
  align-items: center;
  justify-content: center;
  font-family: "Open sans";
  font-weight: 800;
  font-size: 12px;
  box-sizing: border-box;
}

tbody {
  display: table-row-group;
  background-color: #FEF0E7;
  flex: 1;
}

tbody tr {
  height: 6rem;
}

td {
  background-color: white;
  padding: 0;
  min-width: 120px;
  vertical-align: middle;
  text-align: center;
  font-family: "Open sans";
  font-weight: 500;
  font-size: 14px;
  border-top: 2px solid #FEF0E7;
  border-bottom: 2px solid #FEF0E7;
  box-sizing: border-box;
}

@media (max-width: 1200px) {
  th:nth-child(5), td:nth-child(5) {
    min-width: 0;
  }
}

@media (max-width: 992px) {
  th:nth-child(4), td:nth-child(4) {
    min-width: 0;
  }
}

@media (max-width: 768px) {
  th:nth-child(3), td:nth-child(3) {
    min-width: 0;
  }
}

@media (max-width: 576px) {
  th:nth-child(2), td:nth-child(2) {
    min-width: 0;
  }
}

.iconArrow {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  vertical-align: middle;
  font-size: 1rem;
  margin-left: .25rem;
  background-color: #F76E11;
  border: none;
}

.iconArrow img{
  height: 12px;
  border-radius: 50%;
  display: flex;
  vertical-align: center;
}

.iconArrow:hover {
  background-color: #FFB68D;
}
