body, html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f6a02d;
}

.panelTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1, h3 {
  color: #00063d;
}

h3, a {
  display: inline-block;
  padding: 10px;
  margin: 5px;
}

h3 {
  flex: 1;
}

a {
  color: #0a6acb;
  margin-left: auto;
}

.indexIntro {
  display: grid;
  place-items: center;
  position: relative;
  height: 100svh;
  overflow-x: clip;
  padding-block: 7rem;
  margin-block-end: 3rem;
}

.indexLogo {
  animation: fade-out linear;
  animation-timeline: view();
  animation-range: exit;
  width: 50vw;
  height: auto;
}

.logoImage {
  width: 100%;
  height: auto;
}

.indexImage {
  grid-column: 1 / -1;
  position: absolute;
  inset: 0;
  width: 100vw;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  object-fit: cover;
  z-index: -1;
  transform-origin: bottom;

  animation: header-image-animation linear forwards;
  animation-timeline: view();
  animation-range: exit -200px;
}

@keyframes fade-out {
  to {opacity: 0;}
}

@keyframes header-image-animation {
  0% { transform: scale(1); }
  25% { transform: scale(2); }
  85%, 100% { transform: scale(3); }
}

.panel {
  width: calc(100% - 6.5rem - 20px);
  background-color: white;
  margin: 0px 10px;
  border-bottom: 10px solid #f6a02d;
}

.horizontalScroll {
  display: grid;
  gap: 5%;
  grid-auto-flow: column;
  grid-auto-columns: 25%;
  background-color: white;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  margin: 2% 5%;
}

::-webkit-scrollbar {
  width: 1em;
  height: .75em;
  background-color: white
}

::-webkit-scrollbar:vertical {
  width: 0.5em;
  background-color: #f26419
}

::-webkit-scrollbar-track {
  background-color:#ebebeb;
  border-radius: 100vw;
  margin-block: .5em;
}

::-webkit-scrollbar-track:horizontal {
  border-top: 10% solid #f26419;
}

::-webkit-scrollbar-thumb {
  background: #f6a02d;
  border: 2px solid #ebebeb;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #f26419;
}

.card {
  background: #ebebeb;
  height: 15vw;
  width: 20vw;
  margin-bottom: 5%;
}
