* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.filters {
  width: 13rem;
  height: calc(100vh - 6rem);
  position: fixed;
  top: 5rem;
  background-color: #F98B41;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  //padding-top: 2rem;
}

.filterContainer {
  list-style: none;
  padding-left: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.filterItem {
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: width 600ms;
  padding: 10px 5px;
  box-sizing: border-box;
  margin: .25rem 0;
  position: relative;
}

.input {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border-radius: 10px;
  border: 1px solid #FEF0E7;
  background-color: #F98B41;
  color: white;
  margin: center;
  font-family: "Open sans";
  font-weight: 500;
  font-size: 14px;
  position: relative;
}

.placeHolder {
  position: absolute;
  top: 50%;
  left: 10px;
  padding: 0px 5px;
  color: #FEF0E7;
  transition: 0.3s;
  pointer-events: none;
  transform: translateY(-50%);
  background-color: #F98B41;
  font-family: "Open sans";
  font-weight: 300;
  font-size: 12px;
  font-style: italic;
}

.input:hover {
  border: 2px solid white;
}

.input:focus + .placeHolder {
  top: 25%;
  transform: translateY(-100%);
  font-family: "Open sans";
  font-weight: 800;
  font-size: 12px;
  font-style: normal;
}

.main{
  margin-left: 20rem;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: .5em;
  background-color: white
}

::-webkit-scrollbar-track {
  background-color:#FEF0E7;
  border-radius: 100vw;
  margin-block: .5em;
}

::-webkit-scrollbar-thumb {
  background: #F76E11;
  border: 2px solid #FEF0E7;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #F98B41;
}
